@include generator(bg, background-color, map-get($skeletor, colors));
@include generator(c, color, map-get($skeletor, colors));
@include generator(lh, line-height, map-get($skeletor, line-heights));
@include generator(ff, font-family, map-get($skeletor, font-families));
@include generator(fw, font-weight, map-get($skeletor, font-weights));
@include generator(z, z-index, map-get($skeletor, z-indexes));
@include generator(rc, border-radius, map-get($skeletor, rounded-corners));
@include generator(
  float,
  float,
  (
    l: left,
    r: right,
    0: none,
  )
);
@include generator(
  align,
  text-align,
  (
    l: left,
    r: right,
    0: none,
    c: center,
    j: justify,
  )
);

@include generator(shadow, box-shadow, map-get($skeletor, box-shadows));
