// utility classes
*,
*:before,
*:after {
  box-sizing: inherit;
}

.antialias {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@each $break-key, $break-val in map-get($skeletor, breakpoints) {
  @include min-width($break-val) {
    .#{$break-key}\:antialias {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }
}

.child-my-0 > *:first-child {
  margin-top: 0;
}

.child-my-0 > *:last-child {
  margin-bottom: 0;
}

.child-mx-0 > *:first-child {
  margin-left: 0;
}

.child-mx-0 > *:last-child {
  margin-right: 0;
}

// TY bootstrap
// https://github.com/twbs/bootstrap/blob/master/scss/helpers/_screenreaders.scss
.sr-only,
.sr-focus:not(:focus) {
  @include sr-only;
}

@each $break-key, $break-val in map-get($skeletor, breakpoints) {
  @include min-width($break-val) {
    .#{$break-key}\:sr-only,
    .#{$break-key}\:sr-focus:not(:focus) {
      @include sr-only;
    }
  }
}
