// @TODO: add a utils group with subkeys for flex, displays, a11y, etc.
// @TODO: maybe copy the structure from display.scss or convert that to this, whichever is more simple
@if map-get($skeletor, flex) == true {
  //shorthand
  .flx-0 {
    flex: 0;
  }
  .flx-1 {
    flex: 1;
  }
  // grow
  .flx-g-0 {
    flex-grow: 0;
  }
  .flx-g-1 {
    flex-grow: 1;
  }
  // shrink
  .flx-s-0 {
    flex-shrink: 0;
  }
  .flx-s-1 {
    flex-shrink: 1;
  }
  // basis
  .flx-b-0 {
    flex-basis: 0;
  }
  .flx-b-auto {
    flex-basis: auto;
  }
  .flx-b-fill {
    flex-basis: 100%;
  }
  // direction
  .flx-d-c {
    flex-direction: column;
  }
  .flx-d-cr {
    flex-direction: column-reverse;
  }
  .flx-d-r {
    flex-direction: row;
  }
  .flx-d-rr {
    flex-direction: row-reverse;
  }
  // align
  .flx-a-fs {
    align-items: flex-start;
  }
  .flx-a-fe {
    align-items: flex-end;
  }
  .flx-a-c {
    align-items: center;
  }
  .flx-a-s {
    align-items: stretch;
  }
  .flx-a-sa {
    align-items: space-around;
  }
  .flx-a-sb {
    align-items: space-between;
  }
  // justify
  .flx-j-fs {
    justify-content: flex-start;
  }
  .flx-j-fe {
    justify-content: flex-end;
  }
  .flx-j-c {
    justify-content: center;
  }
  .flx-j-s {
    justify-content: stretch;
  }
  .flx-j-sa {
    justify-content: space-around;
  }
  .flx-j-sb {
    justify-content: space-between;
  }

  @each $break-key, $break-val in map-get($skeletor, breakpoints) {
    @include min-width($break-val) {
      //shorthand
      .#{$break-key}\:flx-0 {
        flex: 0;
      }
      .#{$break-key}\:flx-1 {
        flex: 1;
      }
      // grow
      .#{$break-key}\:flx-g-0 {
        flex-grow: 0;
      }
      .#{$break-key}\:flx-g-1 {
        flex-grow: 1;
      }
      // shrink
      .#{$break-key}\:flx-s-0 {
        flex-shrink: 0;
      }
      .#{$break-key}\:flx-s-1 {
        flex-shrink: 1;
      }
      // basis
      .#{$break-key}\:flx-b-0 {
        flex-basis: 0;
      }
      .#{$break-key}\:flx-b-auto {
        flex-basis: auto;
      }
      .#{$break-key}\:flx-b-fill {
        flex-basis: 100%;
      }
      // direction
      .#{$break-key}\:flx-d-c {
        flex-direction: column;
      }
      .#{$break-key}\:flx-d-cr {
        flex-direction: column-reverse;
      }
      .#{$break-key}\:flx-d-r {
        flex-direction: row;
      }
      .#{$break-key}\:flx-d-rr {
        flex-direction: row-reverse;
      }
      // align
      .#{$break-key}\:flx-a-fs {
        align-items: flex-start;
      }
      .#{$break-key}\:flx-a-fe {
        align-items: flex-start;
      }
      .#{$break-key}\:flx-a-c {
        align-items: center;
      }
      .#{$break-key}\:flx-a-s {
        align-items: stretch;
      }
      .#{$break-key}\:flx-a-sa {
        align-items: space-around;
      }
      .#{$break-key}\:flx-a-sb {
        align-items: space-between;
      }
      // justify
      .#{$break-key}\:flx-j-fs {
        justify-content: flex-start;
      }
      .#{$break-key}\:flx-j-fe {
        justify-content: flex-start;
      }
      .#{$break-key}\:flx-j-c {
        justify-content: center;
      }
      .#{$break-key}\:flx-j-s {
        justify-content: stretch;
      }
      .#{$break-key}\:flx-j-sa {
        justify-content: space-around;
      }
      .#{$break-key}\:flx-j-sb {
        justify-content: space-between;
      }
    }
  }
}
