$font-weights: (
  regular: 400,
  bold: 700
);

@each $fw-key, $fw-val in $font-weights {
  .fw-#{$fw-key} {
    font-weight: $fw-val;
  }
}

@each $b-key, $b-val in $breakpoints {
  @include min-width($b-val) {
    @each $fw-key, $fw-val in $font-weights {
      .#{$b-key}\:fw-#{$fw-key} {
        font-weight: $fw-val;
      }
    }
  }
}
