/*
https://woorkup.com/system-font/
https://css-tricks.com/snippets/css/better-helvetica/
https://css-tricks.com/snippets/css/font-stacks/
*/

@if $font-families != null {
  @each $ff-key, $ff-val in $font-families {
    .ff-#{$ff-key} {
      font-family: $ff-val;
    }
  }
}
