// ----------------------------------------------------------------------------
// Breakpoints
// ----------------------------------------------------------------------------

$breakpoints: (
  sm: 500px,
  md: 750px,
  lg: 1000px,
  xl: 1250px,
  wide: 1500px
);

// ----------------------------------------------------------------------------
// Dimensions (w, h, [w/h]-[min-max])
// ----------------------------------------------------------------------------
// w: width, h: height
// w-min: min-width, h-min: min-height
// w-max: max-width, h-max: max-height
// with breakpoints .[breakpoint]:w-min-100
// ----------------------------------------------------------------------------

$dimensions: (
  auto: auto,
  none: none,
  zero: 0,
  100: 100%
);

// ----------------------------------------------------------------------------
// Display (d)
// ----------------------------------------------------------------------------
// d: display => the display properties
// with breakpoints .[breakpoint]:d-inline-flex
// ----------------------------------------------------------------------------

$displays: true;

// ----------------------------------------------------------------------------
// Font families (ff)
// ----------------------------------------------------------------------------
// no breakpoints... didn't seem necessary
// ----------------------------------------------------------------------------

$font-families: (
  sans: (
    -apple-system,
    system-ui,
    BlinkMacSystemFont,
    "Segoe UI",
    Helvetica,
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol"
  ),
  serif: (
    Cambria,
    Times,
    "Times New Roman",
    serif
  )
);

// ----------------------------------------------------------------------------
// Font weights (fw)
// ----------------------------------------------------------------------------

$font-weights: (
  regular: 400,
  bold: 700
);

// ----------------------------------------------------------------------------
// Line heights (lh)
// ----------------------------------------------------------------------------

$line-heights: (
  single: 1,
  compact: 1.2,
  spacious: 1.4
);

// ----------------------------------------------------------------------------
// Spacing
// ----------------------------------------------------------------------------

$space-base: 8px; // 🌖
$spacings: (
  none: 0,
  quarter: $space-base * 0.25,
  half: $space-base * 0.5,
  single: $space-base * 1,
  spacious: $space-base * 1.5,
  double: $space-base * 2,
  huge: $space-base * 4
);

// ----------------------------------------------------------------------------
// Layout, and Breakpoints
// ----------------------------------------------------------------------------

// $container: (
//   px: spacing(lg),
//   py: spacing(md),
//   min: safe-map-get($breakpoints, xs),
//   max: safe-map-get($breakpoints, xl),
//   max-editorial: map-get($breakpoints, md),
//   max-wide: 1500px
// );

// ----------------------------------------------------------------------------
// Z-index layering (z)
// ----------------------------------------------------------------------------

$z-indexes: (
  under: -1,
  0: 0,
  1: 1,
  nav: 100,
  modal: 200,
  max: 1000
);
