$breakpoints: map-get($skeletor, "breakpoints");
$colors: map-get($skeletor, "colors");
$dimensions: map-get($skeletor, "dimensions");
$displays: map-get($skeletor, "displays");
$font-families: map-get($skeletor, "font-families");
$font-weights: map-get($skeletor, "font-weights");
$grid: map-get($skeletor, "grid");
$line-heights: map-get($skeletor, "line-heights");
$spacings: map-get($skeletor, "spacings");
$z-indexes: map-get($skeletor, "z-indexes");
