// Initialize customizables as null so we can test if
// they're not null and include partials accordingly

// ... having said that, breakpoints must always be a
// map even if empty, as its used globally, unguarded.
$breakpoints: ();

// so, the nulls...
// misc
$displays: null;
$dimensions: null;
$spacings: null;
$z-indexes: null;
// grid
$grid: null;
$grid-cols: 12;
$grid-gutter: 24px;
// typography
$font-families: null;
$font-weights: null;
$line-heights: null;
