
@mixin container-width($target, $inset) {
  width: ($target * ($inset * 2));
}

@mixin max-container-width($target, $inset: 0) {
  max-width: ($target + ($inset * 2));
}

@mixin container-inset($inset: 0) {
  @include property-x(padding, $inset);
}

$container: map-get($skeletor, "container");

@if $container != null {
  .container {
    width: 100%;
    @include property-x(margin, auto);
    $c-inset: map-get($container, inset);
    @include container-inset($c-inset);

    $container-maxes: map-get($container, max);
    @if $container-maxes != null {
      @each $b-key, $b-val in map-get($map: $skeletor, $key: breakpoints) {
        $max: map-get($container-maxes, $b-key);
        @if $max != null {
          @include min-width($b-val) {
            @include max-container-width($max, $c-inset);
          }
        }
      }
    }
  }
}
