// ----------------------------------------------------------------------------
// Alignment
// ----------------------------------------------------------------------------

.flex-c {
  &,
  &-a {
    align-items: center;
  }
  &,
  &-j {
    justify-content: center;
  }
}

.flex-s {
  &,
  &-a {
    align-items: flex-start;
  }
  &,
  &-j {
    justify-content: flex-start;
  }
}

.flex-e {
  &,
  &-a {
    align-items: flex-end;
  }
  &,
  &-j {
    justify-content: flex-end;
  }
}

.align-l,
.alignleft {
  text-align: left;
}
.align-c,
.aligncenter {
  text-align: center;
}
.align-r,
.alignright {
  text-align: right;
}
