// ----------------------------------------------------------------------------
// Spacing
// ----------------------------------------------------------------------------

$space-base: 8px; // 🌖
$space-sizes: (
  none: 0,
  quarter: $space-base * 0.25,
  half: $space-base * 0.5,
  single: $space-base * 1,
  spacious: $space-base * 1.5,
  double: $space-base * 2,
  triple: $space-base * 3,
  quad: $space-base * 4
);

$breakpoints: (
  xs: 375px,
  sm: 500px,
  md: 750px,
  lg: 1000px,
  xl: 1250px
);

// @function spacing($key: md) {
//   @return map-get($space-sizes, $key);
// }

// @function to-spacing($factor: 1) {
//   @return $space-base * $factor;
// }

// ----------------------------------------------------------------------------
// Layout, and Breakpoints
// ----------------------------------------------------------------------------

// @function breakpoint($key) {
//   @return map-get($breakpoints, $key);
// }

// $container: (
//   pad-h: spacing(lg),
//   pad-v: spacing(md),
//   min: map-get($breakpoints, xs),
//   max: map-get($breakpoints, xl),
//   max-editorial: map-get($breakpoints, md),
//   max-wide: 1500px
// );

// @mixin max-width($size) {
//   // prevent min and max width overlap pixel
//   @media (max-width: ($size - 1)) {
//     @content;
//   }
// }

// @mixin min-width($size) {
//   @media (min-width: $size) {
//     @content;
//   }
// }

// ----------------------------------------------------------------------------
// Z-index layering
// ----------------------------------------------------------------------------

// $z-index: (
//   modal: 200,
//   navigation: 100,
//   elevated: 10,
//   base: 0,
//   below: -10
// );

// @function z-index($key) {
//   @return map-get($z-index, $key);
// }

// @mixin z-index($key) {
//   z-index: z-index($key);
// }
