// ----------------------------------------------------------------------------
// Alignment
// ----------------------------------------------------------------------------

$property-names: (
  d: display
);

$property-values: (
  d: (
    none,
    inline,
    inline-block,
    block,
    flex,
    inline-flex,
    table,
    table-row,
    table-cell
  )
);

@each $p-key, $p-list in $property-values {
  $p-name: safe-map-get($property-names, $p-key);
  @each $p-val in $p-list {
    .#{$p-key}-#{$p-val} {
      #{$p-name}: $p-val;
    }
  }
}

@each $b-key, $b-val in $breakpoints {
  @include min-width($b-val) {
    @each $p-key, $p-list in $property-values {
      $p-name: safe-map-get($property-names, $p-key);
      @each $p-val in $p-list {
        .#{$b-key}\:#{$p-key}-#{$p-val} {
          #{$p-name}: $p-val;
        }
      }
    }
  }
}
