// ----------------------------------------------------------------------------
// Spacing
// ----------------------------------------------------------------------------

$space-base: 8px; // 🌖
$space-sizes: (
  none: 0,
  quarter: $space-base * 0.25,
  half: $space-base * 0.5,
  single: $space-base * 1,
  spacious: $space-base * 1.5,
  double: $space-base * 2,
  triple: $space-base * 3,
  quad: $space-base * 4
);

$props: (
  p: padding,
  m: margin
);
$dirs: (
  t: top,
  r: right,
  b: bottom,
  l: left
);

@each $prop-key, $prop-val in $props {
  @each $space-key, $space-val in $space-sizes {
    .#{$prop-key}-#{$space-key} {
      #{$prop-val}: $space-val;
    }
  }
  @each $space-key, $space-val in $space-sizes {
    .#{$prop-key}x-#{$space-key} {
      #{$prop-val}-left: $space-val;
      #{$prop-val}-right: $space-val;
    }
  }
  @each $space-key, $space-val in $space-sizes {
    .#{$prop-key}y-#{$space-key} {
      #{$prop-val}-top: $space-val;
      #{$prop-val}-bottom: $space-val;
    }
  }
  @each $dir-key, $dir-val in $dirs {
    @each $space-key, $space-val in $space-sizes {
      .#{$prop-key}#{$dir-key}-#{$space-key} {
        #{$prop-val}-#{$dir-val}: $space-val;
      }
    }
  }
}

@each $b-key, $b-val in $breakpoints {
  @include min-width($b-val) {
    @each $p-key, $p-val in $props {
      @each $s-key, $s-val in $space-sizes {
        .#{$b-key}\:#{$p-key}-#{$s-key} {
          #{$p-val}: $s-val;
        }
      }
      @each $s-key, $s-val in $space-sizes {
        .#{$b-key}\:#{$p-key}x-#{$s-key} {
          #{$p-val}-left: $s-val;
          #{$p-val}-right: $s-val;
        }
      }
      @each $s-key, $s-val in $space-sizes {
        .#{$b-key}\:#{$p-key}y-#{$s-key} {
          #{$p-val}-top: $s-val;
          #{$p-val}-bottom: $s-val;
        }
      }
      @each $dir-key, $dir-val in $dirs {
        @each $s-key, $s-val in $space-sizes {
          .#{$b-key}\:#{$p-key}#{$dir-key}-#{$s-key} {
            #{$p-val}-#{$dir-val}: $s-val;
          }
        }
      }
    }
  }
}
